<header>
  <div>

    <h1><small> Découvrez la</small></br><span class="green">Suit</span>Box</h1>

    <h2>Dress It Yourself !</h2>
    <p> Choissisez un vêtement, recevez les pièces, assemblez les, personnalisez les... </p>

  </div>
</header>
